@use "src/styles/variables";

.BB-view {
  flex: 1;
  position: relative;
  background-color: variables.$secondary-color-3;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  &__title {
    padding: variables.$spacing-s;
  }

  &__content {
    padding: variables.$spacing-l;
    overflow: auto;
    position: relative;
  }
}