@use "src/styles/variables";

@mixin cell-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

.BB-table-cell {
  text-align: left;
  white-space: nowrap;
  padding: variables.$spacing-xs variables.$spacing-s;
  background-color: variables.$primary-color-2;
  color: variables.$secondary-color-4;

  &:first-child {
    border-top-left-radius: variables.$border-radius-m;
    border-bottom-left-radius: variables.$border-radius-m;
  }

  &:last-child {
    border-top-right-radius: variables.$border-radius-m;
    border-bottom-right-radius: variables.$border-radius-m;
    width: auto;

    .BB-table-cell__cell-stretcher {
      margin-left: auto;
    }
  }

  &--is-checkbox {
    padding-right: 0;
    width: 1rem;
  }

  &--is-xxs {
    @include cell-width(0.5rem);
  }

  &--is-xs {
    @include cell-width(1.5rem);
  }

  &--is-s {
    @include cell-width(3.5rem);
  }

  &--is-m {
    @include cell-width(5rem);
  }

  &--is-l {
    @include cell-width(8rem);
  }

  &--is-xl {
    @include cell-width(12rem);
  }

  &--is-xxl {
    @include cell-width(15rem);
  }

  &__cell-stretcher {
    overflow: hidden;
    text-overflow: ellipsis;

    // Prevents missing shadow caused by overflow:auto
    padding: 0.1rem;

    &--is-checkbox {
      padding: 0;
      width: 1rem;
    }
  }
}