@use "src/styles/variables";

.BB-button {
  &.BB-button {
    background-color: variables.$primary-color-1;
    height: variables.$button-height-m;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: variables.$secondary-color-5;
    }
  }

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}