@use "src/styles/variables";

$node-elevation: variables.$elevation-lowest;

.BB-flow-chart {
  height: 100%;
  width: 100%;

  .react-flow__controls {
    display: flex;
    flex-direction: column;
    row-gap: variables.$spacing-s;
    box-shadow: unset;
    margin: variables.$spacing-m;
  }

  .react-flow__controls-button {
    box-shadow: variables.$shadow-center-s;
    border-radius: variables.$border-radius-m;
    transition: variables.$animation-time-short;
    color: variables.$secondary-color-4;

    &:hover,
    &:focus {
      background-color: variables.$secondary-color-2;
    }

    svg {
      fill: currentColor;
    }
  }

  .react-flow__attribution {
    display: none;
  }

  .react-flow__node-default.selectable.selected,
  .react-flow__node-default {
    border: unset;
    padding: unset;
    box-shadow: variables.$shadow-center-s;
    border-radius: variables.$border-radius-m;
    z-index: $node-elevation;
    color: variables.$primary-color-3;
    width: unset;
    outline: none;

    &:focus,
    &:hover {
      box-shadow: variables.$shadow-center-s;
    }
  }

  .react-flow__node-default.selectable.selected {
    .BB-flow-chart-node {
      background-color: variables.$secondary-color-2;
    }
  }

  .react-flow__handle {
    background-color: variables.$primary-color-5;
    width: 0.7rem;
    height: 0.7rem;
  }

  .react-flow__connectionline {
    z-index: $node-elevation - 1;
  }
}