@use "src/styles/variables";

.BB-list {
  display: flex;
  flex-direction: column;
  row-gap: variables.$spacing-s;

  &--is-full-width {
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    column-gap: variables.$spacing-l;

    &--is-full-width {
      width: 100%;
    }
  }

  &__option {
    border-left: variables.$border-secondary-1-xl;
    transition: variables.$animation-time-very-short;

    &--is-selected {
      border-left: variables.$border-primary-1-xl;
    }
  }
}