@use "src/styles/variables";

.BB-list {
  display: flex;
  flex-direction: column;
  row-gap: variables.$spacing-s;

  &--is-full-width {
    width: 100%;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    column-gap: variables.$spacing-l;

    &--is-full-width {
      width: 100%;
    }
  }
}