.BB-grid {
  &--is-overflow-auto {
    overflow: auto;
  }

  &--is-shrink-disabled {
    flex-shrink: 0;
  }

  &--is-equal-aspect-ratio {
    aspect-ratio: 1 / 1;
  }

  &__child {
    &--is-block {
      display: block;
    }

    &--is-flex {
      display: flex;
    }
  }
}