$curious-blue: #0f96fc;
$white: #ffffff;
$oxford-blue: #3C4856;
$cadet-blue: #A0ACBD;
$alabaster: #F9F9F9;
$catskill-white: #F1F4F8;
$calico: #c7ae6f;
$shadow: #8A7356;
$blue-bayoux: #4F6073;
$bermuda-gray: #6A84A1;