$curious-blue: #0f96fc;
$science-blue: #006BBA;
$oxford-blue: #3C4856;
$white: #ffffff;
$athens-gray: #F4F6F8;
$alabaster: #F7F7F7;
$cadet-blue: #A0ACBD;
$calico: #c7ae6f;
$shadow: #8A7356;
$blue-bayoux: #4F6073;
$bermuda-gray: #6A84A1;

$caribbean-green: #00BA85;
$night-shadz: #B03D50;
$equator: #E2B266;

$moody-blue: #6C6AD6;
$danube: #6AAAD6;
$turquoise-blue: #85E0E7;
$turquoise: #4BE4A4;
$emerald: #59D16B;
$tacha: #BCD159;
$ronchi: #EED24B;
$di-sierra: #D19559;
$coral: #FF784B;
$cerize-red: #E43D7A;