@use "src/styles/variables";

.BB-typography {
  color: inherit;

  &--is-initial {
    color: inherit;
  }

  &--is-success {
    color: variables.$status-color-success;
  }

  &--is-error {
     color: variables.$status-color-error;
  }

  &--is-warning {
     color: variables.$status-color-warning;
  }

  &--nowrap {

  }

  &--caption {
  }

  &--url {
    text-decoration: none;
    color: variables.$primary-color-1;
    transition: variables.$animation-time-short;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
      color: variables.$secondary-color-5;
    }
  }
}