@use "src/styles/variables";

.BB-cards-container {
  &__outer-container {
    padding: variables.$spacing-m 0 0 variables.$spacing-m;
    width: 100%;

    &--is-full-height {
      height: 100%;
    }

    &--is-without-left-padding {
      padding-left: unset;
    }

    &--is-without-padding {
      padding: unset;
    }
  }

  &__container.BB-cards-container__container {
    background-color: variables.$primary-color-2;
    position: relative;
    padding: variables.$spacing-l;
    overflow: unset;
    min-height: 4rem;

    &--is-full-height {
      height: 100%;
    }

    &--is-without-padding {
      padding: unset;
    }
  }

  &__no-data-message {
    padding-top: variables.$spacing-m;
    display: flex;
    justify-content: center;
    color: variables.$secondary-color-1;
    height: 100%;

    &--without-padding {
      padding-top: 0;
    }

    & > * {
      display: flex;
      align-items: center;
    }
  }

  &__cards-container {
    display: flex;
    row-gap: variables.$spacing-l;
    overflow: auto;
    column-gap: variables.$spacing-l;
    flex-wrap: wrap;
    padding-top: variables.$spacing-m;

    &--is-wrap-disabled {
      flex-wrap: nowrap;
    }

    &--is-full-height {
      height: 100%;
    }

    &--is-without-top-padding {
      padding-top: unset;
    }

    &--id-column {
      flex-direction: column;
    }

    &:not(:empty) {
      // TODO Figure out if still required
      //padding: variables.$spacing-m variables.$spacing-xxs variables.$spacing-xxs variables.$spacing-xxs;
    }
  }
}