@use "src/styles/variables";

.BB-cards-container {
  &__outer-container {
    padding: variables.$spacing-m 0 0 variables.$spacing-m;
    width: 100%;

    &--is-full-height {
      height: 100%;
    }
  }

  &__container.BB-cards-container__container {
    background-color: variables.$primary-color-2;
    position: relative;
    padding: variables.$spacing-l;
    overflow: unset;
    min-height: 4rem;

    &--is-full-height {
      height: 100%;
    }
  }

  &__title-container {
    display: flex;
    align-items: center;
    column-gap: variables.$spacing-m;
    position: absolute;
    top: -#{variables.$spacing-m};
    left: -#{variables.$spacing-m};
    z-index: variables.$elevation-low + 1;
  }

  &__title {
    background-color: variables.$primary-color-6;
    color: variables.$primary-color-2;
    padding: variables.$spacing-xxs variables.$spacing-s;
    box-shadow: variables.$shadow-center-m;
    display: block;
  }

  &__no-data-message {
    padding-top: variables.$spacing-m;
    display: flex;
    justify-content: center;
    color: variables.$secondary-color-4;
    height: 100%;

    &--without-padding {
      padding-top: 0;
    }

    & > * {
      display: flex;
      align-items: center;
    }
  }

  &__cards-container {
    display: flex;
    row-gap: variables.$spacing-l;
    overflow: auto;
    column-gap: variables.$spacing-l;
    flex-wrap: wrap;

    &--is-wrap-disabled {
      flex-wrap: nowrap;
    }

    &:not(:empty) {
      padding: variables.$spacing-m variables.$spacing-xs variables.$spacing-xs variables.$spacing-xs;
    }
  }
}