@use "src/styles/variables";

.BB-modal {
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }

  &__inner-container {
    position: relative;
    outline: none;
  }

  &__close-button.BB-modal__close-button {
    position: absolute;
    right: -1rem;
    top: -1rem;
    z-index: variables.$elevation-low + 1;
  }

  &__content {
    min-width: 10rem;
    max-width: 100vh;
    background-color: variables.$primary-color-2;
    display: flex;
    flex-direction: column;

    &--small {
      width: 20rem;
      max-width: 45vw;
      max-height: 45vh;
    }

    &--medium {
      width: 40rem;
      max-width: 70vw;
      max-height: 70vh;
    }

    &--large {
      width: 80rem;
      max-width: 90vw;
      max-height: 90vh;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
  }

  &__content-title {
    padding: variables.$spacing-l;
    color: variables.$primary-color-3;
  }

  &__content-body {
    flex: 1;
    overflow: auto;
    border-top: variables.$border-primary-5-s;
    background-color: variables.$secondary-color-2;
    padding: variables.$spacing-l;
    box-shadow: variables.$shadow-inset-center-m;
  }

  &__content-footer {
    border-top: variables.$border-primary-5-s;
    background-color: variables.$primary-color-2;
    padding: variables.$spacing-l;
    display: flex;
    justify-content: flex-end;
  }
}