@use "src/styles/variables";

@mixin cell-width($width) {
  width: $width;
  min-width: $width;
  max-width: $width;
}

.BB-table-header-cell {
  padding: variables.$spacing-xs variables.$spacing-m;

  &:first-child {
    border-top-left-radius: variables.$border-radius-m;
    border-bottom-left-radius: variables.$border-radius-m;
  }

  &:last-child {
    border-top-right-radius: variables.$border-radius-m;
    border-bottom-right-radius: variables.$border-radius-m;
  }

  &--is-xxs {
    @include cell-width(0.5rem);
  }

  &--is-xs {
    @include cell-width(1rem);
  }

  &--is-s {
    @include cell-width(3rem);
  }

  &--is-m {
    @include cell-width(5rem);
  }

  &--is-l {
    @include cell-width(8rem);
  }

  &--is-xl {
    @include cell-width(12rem);
  }

  &--is-xxl {
    @include cell-width(15rem);
  }

  &--is-checkbox {
    width: 1rem;
    min-width: 1rem;
    max-width: 1rem;
  }

  &__cell-content {
    display: flex;
    text-align: left;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    column-gap: variables.$spacing-xs;
  }
}