@use "src/styles/variables";

.BB-left-panel {
  &__container {
    border-right: variables.$border-primary-5-s;
    padding: variables.$spacing-xl;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__button {
    width: 100%;
    text-decoration: unset;

    &:not(:last-child) {
      margin-bottom: variables.$spacing-xl;
    }
  }
}