@use "src/styles/variables";

.BB-left-panel {
  &__container {
    position: relative;
    width: 10rem;
  }

  &__inner-container {
    display: flex;
    flex-direction: column;
    row-gap: variables.$spacing-xl;
    padding: variables.$spacing-xl;
    width: 100%;
    height: 100%;
    border-right: variables.$border-primary-5-s;
  }

  &__button {
    width: 100%;
    text-decoration: unset;
    aspect-ratio: 1 / 1;
  }
}