@use "src/styles/variables";

.BB-icon-button-group {
  display: flex;
  align-items: center;
  column-gap: variables.$spacing-s;
  row-gap: variables.$spacing-s;
  flex-wrap: wrap;

  &--is-column {
    flex-direction: column;
  }

  &--is-row {
    flex-direction: row;
  }

  &--is-wrap-disabled {
    flex-wrap: nowrap;
  }
}