@use "src/styles/variables";

.BB-checkbox {
  &.BB-checkbox {
    font-size: variables.$font-size-l;
    color: variables.$secondary-color-1;
  }

  &--is-checked.BB-checkbox--is-checked.BB-checkbox--is-checked {
    color: variables.$primary-color-1;
  }

  &__container.BB-checkbox__container {
    margin-right: 0;
  }

  &__label {
  }
}