@use "src/styles/variables";

.BB-table-body {
  padding-top: variables.$spacing-l;
  border-radius: variables.$border-radius-m;

  &:before {
    content:"@";
    display:block;
    line-height: variables.$spacing-m;
    text-indent:-99999px;
}

  &__row {
    box-shadow: variables.$shadow-center-s;
    border-radius: variables.$border-radius-m;
  }
}