@use "src/styles/variables";

.BB-table-no-data-message {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: variables.$spacing-xxl;
  color: variables.$primary-color-5;
  height: 8rem;
}